*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
/* change colors here! */
:root {
    --primary-color: #007bff;
    --secondary-color: #F3F4F6;
    --accent-color: #f1f2f4;
    --background-color: #FFFFFF;
    --text-color: #333333;
    --button-hover: #0056b3;
    --link-color: #3498DB;
    --footer-bg: #007bff;
    --background-hover:rgba(255, 255, 255, 0.408);
    --box-shadow: rgba(0,0,0,0.1);
}
/* body */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
/* header */
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    margin: 1rem;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
/* container for button */
.container {
    text-align: center;
    padding: 50px 20px;
}
/* button styles */
.cta-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.cta-button:hover {
    background-color: var(--button-hover);
}
/* courses styles */
.courses {
    background-color: var(--accent-color);
    border-radius: 10px;
    margin: 0.5rem;
    padding: 20px;
    text-align: center;
}

.course-card {
    background: var(--background-color);
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 10px;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--box-shadow);
}

.course-card:hover {
    background: var(--background-hover);
    border-radius: 9px;
    box-shadow: 0 8px 9px var(--box-shadow);
    cursor: pointer;
    transform: translatey(9px);
}
/* footer */
footer {
    background-color: var(--footer-bg);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px;
}